.download-table table th:nth-child(1) {
    width: 20%;
}

.download-table table th:nth-child(2) {
    width: 40%;
}

.download-table table td:nth-child(3) {
    text-align: center;
}

.download-table table td:nth-child(4) {
    text-align: center;
}

.download-table table td:nth-child(5) {
    text-align: center;
}
