/*---------swiper 滿版設計--------------*/
.full-width-slider {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.swiper-slide {
  width: 100vw;
  height: 60vh;
}

.swiper-slide picture,
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* 手機版調整 */
@media only screen and (max-width: 768px) {
    .swiper-slide {
        height: 40vh;
    }
}

.swiper_box {
    line-height: 0;
}

.section_home_links {
    padding: 64px 0
}

.section_home_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 80px;

}

.section_home_links ul li {
    max-width: 480px;
    width: 480px;
}

.section_home_links ul li a {
    text-align: center;
    font-size: var(--font-xl);
    border: 3px solid var(--primary-color);
    width: 100%;
    display: inline-flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
}

.section_home_links ul li.link-product i {
    width: 64px;
    height: 64px;
    background: url(../images/icons/ShieldCheck.svg) no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 40px;
}

.section_home_links ul li.link-icon-login i {
    width: 64px;
    height: 64px;
    background: url(../images/icons/users.svg) no-repeat;
    background-size: 100%;
    display: inline-block;
    margin-right: 40px;
}


/* 統計圖表區塊樣式 */
.section_home_data {
    background-color: #fbfbfb;
    padding: 40px;
    margin-top: 20px;
}

.section_home_data .title_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.section_home_data .title_block h2 {
    display: flex;
    align-items: center;
}

.section_home_data .title_block h2 i {
    width: 40px;
    height: 40px;
    background: url(../images/icons/CloudArrowDown.svg) no-repeat;
    display: inline-block;
    margin-right: 3px;
    background-size: 100%;
}

.stats-cards {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
}

.stats-card {
    flex: 1;
}

.stats-card h3 {
    margin-bottom: 15px;
}

.chart-container {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

/* 統計圖表分頁器樣式 */
.stats-swiper .slider_controls .stats-pagination {
    text-align: center;
}

.stats-swiper .slider_controls .stats-pagination .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: inline-block;
    background: #000;
    opacity: 0.2;
    margin: 0 5px;
    border-radius: 20px;
    transition: opacity 0.5s, background-color 0.5s, width 0.5s;
    transition-delay: 0.5s, 0.5s, 0s;
    cursor: pointer;
}

.stats-swiper .slider_controls .stats-pagination .swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--primary-color);
    width: 40px;
    transition-delay: 0s;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .stats-cards {
        flex-direction: column;
    }

    .section_home_stats {
        padding: 20px;
    }
}

/* 最新消息區塊樣式 */
.section_home_news {
    padding: 40px;
    margin-top: 20px;
}

.section_home_news .title_block {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 10px;
    align-items: center;
}

.section_home_news .title_block h2 {
    display: flex;
    align-items: center;

}

.section_home_news .title_block h2 i {
    width: 40px;
    height: 40px;
    background: url(../images/icons/icon_news.svg) no-repeat;
    display: inline-block;
    margin-right: 3px;
    background-size: 100%;
}

.news_list {
    list-style: none;
    padding: 0;
}

.news_list li {
    border-bottom: 1px solid #484f56;
    position: relative;
    overflow: hidden;
    height: 60px;
    transition: background-color 0.2s;
    padding: 15px 10px;
}

.news_list li:hover {
    background-color: #f0f0f0;
}

.news_list li a {
    display: flex;
    align-items: center;
    overflow: hidden;
}


.news_list li a i {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8px;
}

.news_list li .news_title {
    overflow: hidden;
    margin-right: 70px;
    height: 29px;
    overflow: hidden;
}

.news_date {
    color: #0D6389;
    font-weight: 500;
    min-width: 120px;
    margin-right: 24px;
    padding-right: 24px;
    position: relative;
    white-space: nowrap;
}

.news_date:after {
    content: "";
    background-color: #000;
    height: 24px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 20%;
}

.news_title {
    color: var(--text-primary);
}

.linkMore a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkMore a i {
    width: 32px;
    height: 32px;
    background: url(../images/icons/CaretCircleRight.svg) no-repeat;
    display: inline-block;
    margin-left: 4px;
    background-size: 100%;
}

/* 響應式設計 */
@media (max-width: 768px) {
    .section_home_news {
        padding: 6%;
    }

    .news_list li a {
        flex-direction: column;
        align-items: flex-start;
    }

    .news_date {
        margin-bottom: 5px;
    }

    .news_date:after {
        display: none;
    }

    .news_list li {
        height: 80px;
    }

    .news_date {
        margin-right: inherit;
        padding-right: inherit;
    }

    .section_home_links {
        padding: 30px 20px;
    }

    .section_home_links ul {
        gap: 20px;
        margin-bottom: 0;
    }

    .section_home_data .title_block {
        flex-direction: column;
    }

    .section_home_data {
        padding: 6%;
    }

    .linkMore a {
        justify-content: left
    }

    .section_home_links ul li {
        max-width: 40%;
        width: 40%;
    }

    .section_home_links ul li a {
        padding: 3%;
    }

    .section_home_links ul li.link-icon-login i {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .section_home_links ul li.link-product i {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .section_home_data .title_block h2 {
        font-size: 20px;
    }

    .section_home_news .title_block h2 {
        font-size: 20px;
    }

    .section_home_data .title_block h2 i {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .section_home_news .title_block h2 i {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }

    .linkMore a i {
        width: 24px;
        height: 24px;
    }
}
